body {
    font-size: 1.2em; /* Resets 1em to 10px */
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Helvetica, Calibri, Verdana, sans-serif;
    color: #C10560;
    font-variant: small-caps;
    margin-left: 1em;
    margin-right: 1em;
}

button {
    background-color: #C10560;
    color: #FFE5F2;
    font-size: 0.7em;
    padding: 0.7em;
    margin: 0.7em;
    border-radius: 1em;
}

.blank, input {
    font-size: 2em;
    border:0;
    border-bottom: 0.1em solid black;
    margin: 0.1em;
    padding: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.punc {
    border-bottom: 0;
}

.newBlankGuess {
    animation-name: guessed;
    animation-duration: 2s;
}

@keyframes guessed {
    from {
        opacity: 0;
        text-shadow: 0px 0px 0px black;
    }
    50% {
        opacity: 1;
        text-shadow: 1px 1px 25px black;
    }
    to {
        text-shadow: 0px 0px 0px black;
    }
}

.dying {
    animation-name: died;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1,0,1,10)
}

.dead {
    filter: blur(5px);
    opacity: .3
    z-index: -1;
}

@keyframes died {
    from {
        filter: blur(0px);
    }
    50% {
        filter: blur (25px);
        opacity: 1;
    }
    to {
        filter: blur(5px);
        opacity: .3
    }
}

#page {
    width: 908px;
    margin: 0 auto;
    padding-top: 0px;
    color: #999;
}

.win {
    font-size: 2.2vh;
    font-weight: bold;
}

.loss {
    font-size: 1.5vh;
}

.win, .loss {
    color: black;
    font-family: Georgia, Tahoma, 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    position: absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color:#ffffffee;
}
