body {
    font-size: 1.2em; /* Resets 1em to 10px */
    margin: 0;
    padding: 0;
    font-family: Ubuntu, Calibri, Verdana, sans-serif;
    color: #C10560;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.button {
    font-size: 0.7em;
    padding: 0.7em;
    margin: 1.4em;
    border-radius: 1.4em;
    width: 10em;
    border-color: #C10560;
    font-family: Ubuntu, Calibri, Verdana, sans-serif;
    font-weight: bold;
}

.guessButton {
    background-color: #C10560;
    color: #FFE5F2;
}

.controls {
    display: flex;
}

.restartButton {
    background-color: #FFE5F2;
    color: #C10560;
    border-color: #C10560;
    border-width: 2px;
}

.blank, input {
    font-size: 2em;
    border:0;
    border-bottom: 0.1em solid black;
    margin: 0.1em;
    padding: 0.1em;
    display: inline-block;
    width: 1em;
    height: 1em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: Ubuntu, Calibri, Verdana, sans-serif;
}

input {
    width: 1.2em;
    background-color: #FFE5F2;
    border-bottom: 0.1em solid #C10560;
}

.punc {
    border-bottom: 0;
}

.newBlankGuess {
    animation-name: guessed;
    animation-duration: 2s;
}

@keyframes guessed {
    from {
        opacity: 0;
        text-shadow: 0px 0px 0px black;
    }
    50% {
        opacity: 1;
        text-shadow: 1px 1px 25px black;
    }
    to {
        text-shadow: 0px 0px 0px black;
    }
}

.dying {
    animation-name: died;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1,0,1,10)
}

.dead {
    filter: blur(5px);
    opacity: 0.3;
}

.countercats, .countercats > img {
  z-index: -1;
}

.wrong {
    font-weight: bold;
    color: black;
    display: inline-block;
    text-transform: uppercase;
}

@keyframes died {
    from {
        filter: blur(0px);
    }
    50% {
        filter: blur (25px);
        opacity: 1;
    }
    to {
        filter: blur(5px);
        opacity: .3
    }
}

#page {
    width: 908px;
    margin: 0 auto;
    padding-top: 0px;
    color: #999;
}

.baron {
  font-size: 1.5vh;
}

.winloss {
    color: black;
    font-family: Ubuntu, Calibri, Verdana, sans-serif;
    font-size: 2.2vh;
    font-weight: bold;
    position: absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color:#ffffffee;
}

.message {
    font-size: 0.7em;
    display: inline-block;
    font-weight: bold;
    background-image: url(../static/textbubble.svg);
    background-size: 100% 100%;
    min-width: 200px;
    height: 120px;
    margin-bottom:30px;
}

.message > div {
    display: table-cell;
    max-width: 300px;
    padding-left: 30%;
    padding-right: 10%;
    height: 120px;
    vertical-align: middle;
    min-width: 250px;
}
