<html>
	<head>
		<title>9lives</title>
		<link href="static/catlives.css" rel="stylesheet"/>
		<link rel="icon" href="static/9lives_favicon.svg">
	</head>
	<body>
		{% if win == True %}
		<div class="winloss">
		<p>You won! You smart cookie, you.</p>
		<pre>
                   _  .-.
                  ( `'  |
                   `.  /
                     |/
                     '
                 _    \ .        |
                (_ |\/| L\ /` |/ |
                __)|  | | \\_,|`\'
              ,.--.
            ,/     `\     \
      _,-""-|        |     '
    ,'       ;`-.,.-'       '
   /          \   \       ,-.
  ;           | /  `._.-. \_.r-"'-.    _.._
  ;        .-./   /|     )/        `''`    `'.
  |       /       `     -'7         \         \  '.
  ;       |_,           | \          `       ,|    \
   \         `.      ___/  \               /;;.\    ;
    \          |  .'` .'    `-._         /;;;;;||
 f`'-'         /  _.-'          `'.      ||;;;;;|
  \          .'|_\.-. .-.          `\   f\';;;'/  |
   `-.___,.'``'-.| /_._/_            \__| `'-'` .'
         /           _\'.)           '---'
 .   |   \     _.-'.__7 /`.   _     /     `.
 |   `.   `'-' |     _.'   t'` )   ;    |   \
 \           _ | _.-'   _,'  .'    |    ;  |;;
  `.       // '7;_,..-'` _,-`      ;    '  \ ;| .-._
           `'-/'     __.-\_\        \    \ \`);f_,.-`
             '--''"`` \.-'\ >"--._   `-|. `-`/
        ____________.-f._.;"'--. _).--'__ | \
    '''""""''''    (___c7/_______)(/_/`r `   `"-.mx___
     Schulz                          `'------'--`  --
		</pre>
		<p><form action="/"><button class="button restartButton">NEW GAME</button></form></p>
		</div>
		{% endif %}
		{% if loss == True %}
		<div class="winloss">
			<p>The Red Baron got you this time... Try again! The answer was "{{ word }}"</p>
		<pre class="baron">
                  XXXX
                 X    XX
                X  ***  X                XXXXX
               X  *****  X            XXX     XX
            XXXX ******* XXX      XXXX          XX
          XX   X ******  XXXXXXXXX                XX XXX
        XX      X ****  X                           X** X
       X        XX    XX     X                      X***X
      X         //XXXX       X                      XXXX
     X         //   X                             XX
    X         //    X          XXXXXXXXXXXXXXXXXX/
    X     XXX//    X          X
    X    X   X     X         X
    X    X    X    X        X
     X   X    X    X        X                    XX
     X    X   X    X        X                 XXX  XX
      X    XXX      X        X               X  X X  X
      X             X         X              XX X  XXXX
       X             X         XXXXXXXX\     XX   XX  X
        XX            XX              X     X    X  XX
          XX            XXXX   XXXXXX/     X     XXXX
            XXX             XX***         X     X
               XXXXXXXXXXXXX *   *       X     X
                            *---* X     X     X
                           *-* *   XXX X     X
                           *- *       XXX   X
                          *- *X          XXX
                          *- *X  X          XXX
                         *- *X    X            XX
                         *- *XX    X             X
                        *  *X* X    X             X
                        *  *X * X    X             X
                       *  * X**  X   XXXX          X
                       *  * X**  XX     X          X
                      *  ** X** X     XX          X
                      *  **  X*  XXX   X         X
                     *  **    XX   XXXX       XXX
                    *  * *      XXXX      X     X
                   *   * *          X     X     X
     =======*******   * *           X     X      XXXXXXXX\
            *         * *      /XXXXX      XXXXXXXX\      )
       =====**********  *     X                     )  \  )
         ====*         *     X               \  \   )XXXXX
    =========**********       XXXXXXXXXXXXXXXXXXXXXX

                       CURSE YOU RED BARON!!
		</pre>
		<p><form action="/"><button class="button restartButton">NEW GAME</button></form></p>
		</div>
		{% endif %}
    <div style="height:100px; position: relative">
      <div class="countercats" style="border-bottom: 5px solid #FFE5F2; position: relative; top:-75px">
        <img src="static/Cat_sit_1.svg" style="height:75px; position: relative; top: 20px"
        class="{% if guesses==0 %}dying{% endif %}" />
        <img src="static/Cat_sit_3.svg" style="height:75px; position: relative; top: 45px"
        class="{% if guesses==1 and not isCorrect %}dying{% endif %}
        {% if guesses<1 or guesses==1 and isCorrect %}dead{% endif %}" />
        <img src="static/Cat_fluffy_1.svg" style="height:75px; position: relative; top: 15px;"
        class="{% if guesses==2 and not isCorrect %}dying{% endif %}
        {% if guesses<2 or guesses==2 and isCorrect %}dead{% endif %}" />
        <img src="static/Cat_jump.svg" style="height:150px; position: relative; top: 83px"
        class="{% if guesses==3 and not isCorrect %}dying{% endif %}
        {% if guesses<3 or guesses==3 and isCorrect %}dead{% endif %}" />
        <img src="static/Cat_sit_2.svg" style="height:75px; position: relative; top: 25px"
        class="{% if guesses==4 and not isCorrect %}dying{% endif %}
        {% if guesses<4 or guesses==4 and isCorrect %}dead{% endif %}" />
        <img src="static/Cat_sit_4.svg" style="height:75px; position: relative; top: 20px"
        class="{% if guesses==5 and not isCorrect %}dying{% endif %}
        {% if guesses<5 or guesses==5 and isCorrect %}dead{% endif %}" />
        <div style="width:15px; display:inline-block"></div>
        <img src="static/Cat_stretch.svg" style="height:75px; position: relative; top: 17px"
        class="{% if guesses==6 and not isCorrect %}dying{% endif %}
        {% if guesses<6 or guesses==6 and isCorrect %}dead{% endif %}" />
        <div style="width:20px; display:inline-block"></div>
        <img src="static/Cat_walk.svg" style="height:75px; position: relative; top: 10px"
        class="{% if guesses==7 and not isCorrect %}dying{% endif %}
        {% if guesses<7 or guesses==7 and isCorrect %}dead{% endif %}" />
        <img src="static/Cat_fluffy_2.svg" style="height:75px; position: relative; top: 15px"
        class="{% if guesses==8 and not isCorrect %}dying{% endif %}
        {% if guesses<8 or guesses==8 and isCorrect %}dead{% endif %}" />
      </div>
      <div class="wrongs">
        <div style="width:60px" class="wrong">{{ wrongLetters[8] }}</div>
        <div style="width:70px" class="wrong">{{ wrongLetters[7] }}</div>
        <div style="width:80px" class="wrong">{{ wrongLetters[6] }}</div>
        <div style="width:75px" class="wrong">{{ wrongLetters[5] }}</div>
        <div style="width:100px" class="wrong">{{ wrongLetters[4] }}</div>
        <div style="width:75px" class="wrong">{{ wrongLetters[3] }}</div>
        <div style="width:120px" class="wrong">{{ wrongLetters[2] }}</div>
        <div style="width:90px" class="wrong">{{ wrongLetters[1] }}</div>
        <div style="width:50px" class="wrong">{{ wrongLetters[0] }}</div>
      </div>
    </div>
		<div>
			{% for subword in word.split() %}
				<div style="display: inline-block">
					{% for letter in subword %}
					<div class='blank
					{% if guess==letter %}newBlankGuess{% endif %}
					{% if letter!="" and not letter.isalpha() %}punc{% endif %}'>
						{% if not letter.isalpha() or letter in letters %}
							{{ letter }}
						{% endif %}
					</div>
					{% endfor %}
				</div>
				{% if not loop.last %}
					<div class='blank punc'></div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="controls"><form action="/">
			<input name="guess" type='text' maxlength='1' autofocus required autocomplete="off">
			<button class="button guessButton" type="submit">GUESS!</button>
		</form>
		<form action="/">
			<button class="button restartButton">NEW GAME</button>
		</form>
	</div>
    <div style="display: flex; align-items: flex-end">
      <img src="static/9lives_logo.svg" style="height:120px;" alt="9lives logo with cat tail shaped as 9" />
      <div class="message"><div>{% if alreadyGuessed == True %} Oops! You guessed this letter already. {% endif %}{% if not guessedLetters %} Please guess a letter! {% endif %}</div></div>
    </div>
	</body>
</html>
