<html>
	<head>
		<title>Cat Lives minus three</title>
		<link href="static/catlives.css" rel="stylesheet"/>
	</head>
	<body>
		{% if win == True %}
		<div class="win">
		<p>You won! You smart cookie, you.</p>
		<pre>
                   _  .-.
                  ( `'  |
                   `.  /
                     |/
                     '
                 _    \ .        |
                (_ |\/| L\ /` |/ |
                __)|  | | \\_,|`\'
              ,.--.
            ,/     `\     \
      _,-""-|        |     '
    ,'       ;`-.,.-'       '
   /          \   \       ,-.
  ;           | /  `._.-. \_.r-"'-.    _.._
  ;        .-./   /|     )/        `''`    `'.
  |       /       `     -'7         \         \  '.
  ;       |_,           | \          `       ,|    \
   \         `.      ___/  \               /;;.\    ;
    \          |  .'` .'    `-._         /;;;;;||
 f`'-'         /  _.-'          `'.      ||;;;;;|
  \          .'|_\.-. .-.          `\   f\';;;'/  |
   `-.___,.'``'-.| /_._/_            \__| `'-'` .'
         /           _\'.)           '---'
 .   |   \     _.-'.__7 /`.   _     /     `.
 |   `.   `'-' |     _.'   t'` )   ;    |   \
 \           _ | _.-'   _,'  .'    |    ;  |;;
  `.       // '7;_,..-'` _,-`      ;    '  \ ;| .-._
           `'-/'     __.-\_\        \    \ \`);f_,.-`
             '--''"`` \.-'\ >"--._   `-|. `-`/
        ____________.-f._.;"'--. _).--'__ | \
    '''""""''''    (___<7/_______)(/_/`r `   `"-.mx___
     Schulz                          `'------'--`  -- 
		</pre>
		<p><form action="/"><button>New Game</button></form></p>
		</div>
		{% endif %}
		{% if loss == True %}
		<div class="loss">
			<p>The Red Baron got you this time... Try again! The answer was "{{ word }}"</p>
		<pre>
                  XXXX
                 X    XX
                X  ***  X                XXXXX
               X  *****  X            XXX     XX
            XXXX ******* XXX      XXXX          XX
          XX   X ******  XXXXXXXXX                XX XXX
        XX      X ****  X                           X** X
       X        XX    XX     X                      X***X
      X         //XXXX       X                      XXXX
     X         //   X                             XX
    X         //    X          XXXXXXXXXXXXXXXXXX/
    X     XXX//    X          X
    X    X   X     X         X
    X    X    X    X        X
     X   X    X    X        X                    XX
     X    X   X    X        X                 XXX  XX
      X    XXX      X        X               X  X X  X
      X             X         X              XX X  XXXX
       X             X         XXXXXXXX\     XX   XX  X
        XX            XX              X     X    X  XX
          XX            XXXX   XXXXXX/     X     XXXX
            XXX             XX***         X     X
               XXXXXXXXXXXXX *   *       X     X
                            *---* X     X     X
                           *-* *   XXX X     X
                           *- *       XXX   X
                          *- *X          XXX
                          *- *X  X          XXX
                         *- *X    X            XX
                         *- *XX    X             X
                        *  *X* X    X             X
                        *  *X * X    X             X
                       *  * X**  X   XXXX          X
                       *  * X**  XX     X          X
                      *  ** X** X     XX          X
                      *  **  X*  XXX   X         X
                     *  **    XX   XXXX       XXX
                    *  * *      XXXX      X     X
                   *   * *          X     X     X
     =======*******   * *           X     X      XXXXXXXX\
            *         * *      /XXXXX      XXXXXXXX\      )
       =====**********  *     X                     )  \  )
         ====*         *     X               \  \   )XXXXX
    =========**********       XXXXXXXXXXXXXXXXXXXXXX

                       CURSE YOU RED BARON!!
		</pre>
		<p><form action="/"><button>New Game</button></form></p>
		</div>
		{% endif %}
		<p>Number of lives:</p><p>{{ guesses }}</p>
    <div style="border-bottom: 5px solid brown">
      <img src="static/Cat_sit_1.svg" style="height:75px; position: relative; top: 20px"
      class="{% if guesses==0 %}dying{% endif %}" />
      <img src="static/Cat_sit_3.svg" style="height:75px; position: relative; top: 45px"
      class="{% if guesses==1 and not isCorrect %}dying{% endif %}
      {% if guesses<1 or guesses==1 and isCorrect %}dead{% endif %}" />
      <img src="static/Cat_fluffy_1.svg" style="height:75px; position: relative; top: 15px;" 
      class="{% if guesses==2 and not isCorrect %}dying{% endif %}
      {% if guesses<2 or guesses==2 and isCorrect %}dead{% endif %}" />
      <img src="static/Cat_jump.svg" style="height:150px; position: relative; top: 83px" 
      class="{% if guesses==3 and not isCorrect %}dying{% endif %}
      {% if guesses<3 or guesses==3 and isCorrect %}dead{% endif %}" />
      <img src="static/Cat_sit_2.svg" style="height:75px; position: relative; top: 25px" 
      class="{% if guesses==4 and not isCorrect %}dying{% endif %}
      {% if guesses<4 or guesses==4 and isCorrect %}dead{% endif %}" />
      <img src="static/Cat_sit_4.svg" style="height:75px; position: relative; top: 20px" 
      class="{% if guesses==5 and not isCorrect %}dying{% endif %}
      {% if guesses<5 or guesses==5 and isCorrect %}dead{% endif %}" />
      <div style="width:15px; display:inline-block"></div>
      <img src="static/Cat_stretch.svg" style="height:75px; position: relative; top: 17px" 
      class="{% if guesses==6 and not isCorrect %}dying{% endif %}
      {% if guesses<6 or guesses==6 and isCorrect %}dead{% endif %}" />
      <div style="width:20px; display:inline-block"></div>
      <img src="static/Cat_walk.svg" style="height:75px; position: relative; top: 10px"
      class="{% if guesses==7 and not isCorrect %}dying{% endif %}
      {% if guesses<7 or guesses==7 and isCorrect %}dead{% endif %}" />
      <img src="static/Cat_fluffy_2.svg" style="height:75px; position: relative; top: 15px"
      class="{% if guesses==8 and not isCorrect %}dying{% endif %}
      {% if guesses<8 or guesses==8 and isCorrect %}dead{% endif %}" />
    </div>
		<p>Fill in the blanks:</p>
		<div>
			{% for letter in letters %}
			<div class='blank {% if guess==letter %}newBlankGuess{% endif %}'>{{ letter }}</div>
			{% endfor %}
		</div>
		<p><form action="/"><input name="guess" type='text' maxlength='1' autofocus required><button type="submit">Guess!</button> 
		{% if alreadyGuessed == True %} Oops! You guessed this letter already! {% endif %}</form></p>
		<div>
			{% if guessedLetters %}
			<p>Guessed Letters: {{ guessedLetters }}</p>
			{% else %}
			<p>Please guess a letter!</p>
			{% endif %}
		</div>
		<p><form action="/"><button>New Game</button></form></p>
	</body>
</html>

