<html>
	<head>
		<title>Cat Lives minus three</title>
		<link href="static/hello.css" rel="stylesheet" />
	</head>
	<body>
		<p>Number of lives:</p><p>{{ guesses }}</p>
		<p>Fill in the blanks:</p>
		<div>
			{% for letter in letters %}
			<div class='blank'>{{ letter }}</div>
			{% endfor %}
		</div>
		<p><form action="/"><input name="guess" type='text' maxlength='1' autofocus required><button type="submit">Guess!</button> 
		{% if alreadyGuessed == True %} Oops! You guessed this letter already! {% endif %}</form></p>
		<div>
			{% if guessedLetters %}
			<p>{{ guessedLetters }}</p>
			{% else %}
			<p>Please guess a letter!</p>
			{% endif %}
		</div>
		<p><button>New Game</button></p>
	</body>
</html>

